/**{
  border: 2px solid black;
}*/
.container{
  background-color: silver;
  border: 5px solid green;
  height: 500px;
  margin-top: 5px;
  border-bottom: 25px solid green;

}

#aa {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: relative;


}

.score{
  height: 150px;
  background-color:#F8B250;
  border-top: 25px solid green;
  border: 2px solid green;

}

#globalscore{
  font-size: 25px;
  color: red;
  font-weight: bold;
  text-align: center;
}
p{
  font-size: 18px;
  font-style: italic;
  color: blue;
  font-weight: bold;
  padding: 5px;
}
